N8N/Importar_Contatos_Evolution.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "importar-contatos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-192, 0],
      "id": "cb8509d1-2ed2-4247-a741-4fe9af8910eb",
      "name": "Webhook",
      "webhookId": "2489b55a-91e4-40f9-a52a-7a74a7948f06"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "find-contacts",
        "instanceName": "={{ $json.body.nome }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [48, 0],
      "id": "4a2b720f-68fd-4aba-bd09-a609357cd379",
      "name": "Listar contatos",
      "credentials": {
        "evolutionApi": {
          "id": "icZks5hZGLxWGYlQ",
          "name": "Evolution account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Processar contatos da Evolution API\nconst contacts = $input.all();\nconst processedContacts = [];\n\nfor (const item of contacts) {\n  let contactList = item.json;\n  \n  // Se a resposta tiver uma propriedade que é array\n  if (contactList.contacts) contactList = contactList.contacts;\n  if (contactList.data) contactList = contactList.data;\n  \n  // Se for um array de contatos\n  if (Array.isArray(contactList)) {\n    for (const contact of contactList) {\n      const processed = processContact(contact);\n      if (processed) processedContacts.push(processed);\n    }\n  } else if (typeof contactList === 'object') {\n    const processed = processContact(contactList);\n    if (processed) processedContacts.push(processed);\n  }\n}\n\nfunction processContact(contact) {\n  // Extrair número do remoteJid (formato: 5511999998888@s.whatsapp.net)\n  const remoteJid = contact.remoteJid || contact.id || contact.jid || '';\n  const phoneMatch = remoteJid.match(/^(\\d+)@/);\n  \n  if (!phoneMatch) return null;\n  \n  let phone = phoneMatch[1];\n  \n  // Ignorar grupos\n  if (remoteJid.includes('@g.us')) return null;\n  if (phone.length > 13) return null;\n  \n  // ⚠️ FILTRO: Ignorar contatos SEM NOME (pushName null ou vazio)\n  const nome = contact.pushName || contact.profileName || contact.name || contact.verifiedName || '';\n  if (!nome || nome.trim() === '' || nome === 'null') {\n    return null; // Ignora contatos sem nome\n  }\n  \n  // Normalizar telefone para formato 55XXXXXXXXXXX (13 dígitos)\n  if (phone.length === 12 && phone.startsWith('55')) {\n    const ddd = phone.substring(2, 4);\n    const numero = phone.substring(4);\n    phone = '55' + ddd + '9' + numero;\n  } else if (phone.length === 11 && !phone.startsWith('55')) {\n    phone = '55' + phone;\n  } else if (phone.length === 10) {\n    const ddd = phone.substring(0, 2);\n    const numero = phone.substring(2);\n    phone = '55' + ddd + '9' + numero;\n  }\n  \n  // Validar que tem 13 dígitos e começa com 55\n  if (phone.length !== 13 || !phone.startsWith('55')) return null;\n  \n  return {\n    json: {\n      nome: nome.trim(),\n      telefone: phone,\n      status_cliente: 'ativo'\n    }\n  };\n}\n\n// Se não encontrou contatos válidos\nif (processedContacts.length === 0) {\n  return [{ json: { _noContacts: true, message: 'Nenhum contato com nome válido encontrado.' } }];\n}\n\nreturn processedContacts;"
      },
      "id": "5aa81097-80d9-4a6f-819f-1fec763e8d64",
      "name": "Transformar Contatos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [288, 0]
    },
    {
      "parameters": {
        "jsCode": "// Verificar se não há contatos\nconst items = $input.all();\nif (items.length === 1 && items[0].json._noContacts) {\n  return items;\n}\n\n// Remover duplicatas por telefone\nconst seen = new Set();\nconst uniqueContacts = [];\n\nfor (const item of items) {\n  const telefone = item.json.telefone;\n  if (telefone && !seen.has(telefone)) {\n    seen.add(telefone);\n    uniqueContacts.push(item);\n  }\n}\n\nreturn uniqueContacts;"
      },
      "id": "5c680609-014f-4736-ae1d-89bb4c141840",
      "name": "Remover Duplicatas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [528, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gfankozjyjfxnognhsqc.supabase.co/rest/v1/clientes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.value }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates,return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ nome: $json.nome, telefone: $json.telefone, status_cliente: $json.status_cliente }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "25e9620e-92b2-484f-be49-9ce12afa9827",
      "name": "Inserir no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [768, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      },
      "onError": "continueErrorOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Coletar resultados\nconst items = $input.all();\n\n// Verificar se é mensagem de \"nenhum contato\"\nif (items.length === 1 && items[0].json._noContacts) {\n  return [{\n    json: {\n      success: true,\n      message: items[0].json.message || 'Nenhum contato com nome válido encontrado.',\n      total: 0,\n      contatos: []\n    }\n  }];\n}\n\n// Coletar contatos inseridos com sucesso\nconst contatosInseridos = [];\nlet erros = 0;\n\nfor (const item of items) {\n  const statusCode = item.json.statusCode || 200;\n  \n  // Se foi inserido com sucesso (201) ou já existia (200 com ignore-duplicates)\n  if (statusCode === 201 || statusCode === 200) {\n    const body = item.json.body;\n    if (Array.isArray(body) && body.length > 0) {\n      // Novo contato inserido\n      contatosInseridos.push({\n        nome: body[0].nome,\n        telefone: body[0].telefone\n      });\n    }\n  } else {\n    erros++;\n  }\n}\n\n// Também verificar itens do node anterior (Remover Duplicatas) para pegar os originais\ntry {\n  const originais = $('Remover Duplicatas').all();\n  if (originais.length > 0 && !originais[0].json._noContacts) {\n    // Se não conseguimos inseridos do HTTP, usar os originais\n    if (contatosInseridos.length === 0) {\n      for (const item of originais) {\n        if (item.json.nome && item.json.telefone) {\n          contatosInseridos.push({\n            nome: item.json.nome,\n            telefone: item.json.telefone\n          });\n        }\n      }\n    }\n  }\n} catch (e) {\n  // Ignorar erro se não conseguir acessar\n}\n\nconst total = contatosInseridos.length;\nlet message = '';\n\nif (total === 0) {\n  message = 'Nenhum contato novo para importar. Todos já estão cadastrados!';\n} else if (total === 1) {\n  message = `1 contato importado: ${contatosInseridos[0].nome} (${contatosInseridos[0].telefone})`;\n} else {\n  message = `${total} contatos importados com sucesso!`;\n}\n\nreturn [{\n  json: {\n    success: true,\n    message: message,\n    total: total,\n    contatos: contatosInseridos\n  }\n}];"
      },
      "id": "f1a2b3c4-d5e6-7890-abcd-111111111111",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "f1a2b3c4-d5e6-7890-abcd-222222222222",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1248, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"message\": \"Erro ao listar contatos da Evolution API.\", \"total\": 0}",
        "options": {}
      },
      "id": "error-evolution-node",
      "name": "Erro Evolution",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [288, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Listar contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar contatos": {
      "main": [
        [
          {
            "node": "Transformar Contatos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Contatos": {
      "main": [
        [
          {
            "node": "Remover Duplicatas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remover Duplicatas": {
      "main": [
        [
          {
            "node": "Inserir no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir no Supabase": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf44da0bdd276efec3d53e2b8f7cb33b60487945a612b6495fbda7a1e202b2f7"
  }
}
